@import "tailwindcss";

.app {
    @apply flex flex-col w-screen h-screen;
}

.board {
    @apply flex-grow flex items-center justify-center select-none m-8;
}

.node {
    @apply size-8 border border-collapse border-gray-200;
}

.path {
    @apply bg-yellow-300 border-0 animate-node;
}

.search {
    @apply bg-indigo-500 border-slate-400 animate-search;
}

.start {
    @apply bg-emerald-500 border-0 animate-node;
}

.end {
    @apply bg-red-500 border-0 animate-node;
}

.wall {
    @apply bg-gray-800 border-0 animate-node;
}

@theme {
    --animate-node: node 0.3s ease-in-out;

    @keyframes node {
        0% {
            transform: scale(0.8);
            border-radius: 10%;
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1.0);
        }
    }

    --animate-search: search 1s ease-in-out;
    @keyframes search {
        0% {
            transform: scale(0.8);
            border-radius: 10%;
            background-color: oklch(0.685 0.169 237.323);
        }
        50% {
            transform: scale(1.2);
            background-color: oklch(.623 .214 259.815);
        }
        100% {
            transform: scale(1.0);
            background-color: oklch(0.585 0.233 277.117);
        }
    }
}
