@import "tailwindcss";

@theme {
    --animate-node: node 0.3s ease-in-out;
    
    @keyframes node {
        0% {
            transform: scale(0.8);
            border-radius: 10%;
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1.0);
        }
    }
}
