@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

.app {
    @apply flex flex-col w-screen h-screen;
}

.board {
    @apply flex flex-grow items-start justify-center select-none mx-4 mb-4 mt-8 z-0;
}

.disabled {
    @apply pointer-events-none;
}

.node {
    @apply w-6 h-6 border border-collapse border-gray-200;
}

.search {
    @apply bg-indigo-500 border-gray-400 animate-search;
}

.path {
    @apply bg-yellow-300 border-0 animate-node;
}

.start {
    @apply bg-emerald-500 border-0 animate-node;
}

.end {
    @apply bg-red-500 border-0 animate-node;
}

.wall {
    @apply bg-gray-800 border-0 animate-node;
}

@theme {
    --font-sans: Inter, ui-sans-serif, sans-serif;
    --font-mono: JetBrains Mono, ui-monospace, monospace;

    --animate-node: node 0.3s ease-in-out;
    @keyframes node {
        0% {
            transform: scale(0.5);
            border-radius: 10%;
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1.0);
        }
    }

    --animate-search: search 1s ease-in-out;
    @keyframes search {
        0% {
            transform: scale(0.5);
            background-color: var(--color-sky-500);
            border-radius: 10%;
            border: none;
        }
        50% {
            transform: scale(1.2);
            background-color: var(--color-blue-500);
        }
        100% {
            transform: scale(1.0);
            background-color: var(--color-indigo-500);
        }
    }
}
